.Footer {
    background-color: mediumaquamarine;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    font-weight: 500;
    color:darkviolet

}